////////////////////////////////////////
//COLORS

:root {
  --color-primary: #e9ab53;
  --color-secondary: #f15e50;

  --color-off-white: #fffdfa;
  --color-grayish-blue: #c5c6ce;
  --color-dark-grayish-blue: #5d5f79;
  --color-Very-dark-blue: #00001a;

  // default font size
  --font-size-paragraph: 1.5rem;

  --font-family: "Inter", sans-serif;

  --section-padding: 1.2rem 0;
}
