.section__trends {
  padding-bottom: 9.6rem;
}
.popular {
  &__item {
    display: flex;
    align-items: stretch;
    gap: 1.2rem;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    &__number {
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--color-grayish-blue);
    }
    &__text {
      font-size: 1.3rem;
      line-height: 1.5;
      color: var(--color-dark-grayish-blue);
    }
  }
}
