.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  text-decoration: none;
  font-size: var(--font-size-paragraph);
  transition: all 0.3s;
}
.btn--primary:link,
.btn--primary:visited {
  background-color: var(--color-secondary);
  color: #fff;
  text-transform: uppercase;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: var(--color-Very-dark-blue);
  color: #fff;
}
//////////////////////////
/// MOBILE NAVIGATION
.btn__mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;

  @include respond(mid-tab-port) {
    display: block;
  }
}
.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  @include respond(mid-tab-port) {
    display: block;
  }
}
.nav-open .icon-mobile-nav[name="menu-outline"] {
  @include respond(mid-tab-port) {
    display: none;
  }
}
